data/
output/trimmed
output/bismark
output/old_*
logs/
.RData
.Rhistory
.snakemake
_*
code/*.jar
code/*/
.R*
.snakemake
code/*.tgz
generator*
.ipynb*
cluster_config.yml
test*
output/methylation_extracted/*/*.deduplicated.sorted.txt.gz
